<div class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-12 ftco-animate text-center mb-5">
            <p class="breadcrumbs mb-0"><span class="mr-3"><a routerLink="" style="color: white;">Home <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
              </svg></a></span> <span>About</span></p>
          <h1 class="mb-3 bread">Customers</h1>
        </div>
      </div>
    </div>
  </div>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 pr-lg-4">
					<div class="row">
						<div class="col-md-12 ftco-animate" *ngFor="let i = index; let customer of mainservice.customers | paginate: config">
							<div class="job-post-item p-4 d-block d-lg-flex align-items-center">
								<div class="one-third mb-4 mb-md-0">
									<div class="job-post-item-header d-block d-md-flex d-flex">
										<img src="https://picsum.photos/50?random={{i}}"
											style="border-radius: 10px; margin-right: 4px;" alt="Profile picture"/>
										<h4 class="text-black">{{customer.CustomerName}}</h4>
									</div>
									<div class="job-post-item-body d-block d-md-flex">
										<div><span class="icon-tags" style="margin-right: 2px;"></span> <span>Category: </span><span>{{customer.CostumerCategory}}</span>
										</div>
									</div>
									<div class="job-post-item-body d-block d-md-flex">
										<div><span class="icon-map-marker" style="margin-right: 2px;"></span> <span>Ubication: </span><span>{{customer.Ubication}}</span></div>
									</div>
								</div>

								<div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
									<a href="#" class="btn btn-primary py-2">View Customer</a>
								</div>
							</div>
						</div><!-- end -->
					</div>
					
					<div *ngIf="!mainservice.customers || mainservice.customers.length === 0">
						<div id="ftco-loader" class="show"><svg class="circular" width="48px" height="48px">
							<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
							<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
								stroke="#F96D00" /></svg></div>
					</div>
						 
					<div class="row mt-5" style="margin-bottom: 15px;">
						<div class="col text-center">
							<div class="block-27">
								<pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
 
 
									<div class="custom-pagination">
									  <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
										<span *ngIf="!p.isFirstPage()" (click)="p.previous()">
										  < 
											</span> 
										</div> 
										<div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
											  <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
											<div *ngIf="p.getCurrent() === page.value">
											  <span>{{ page.label }}</span>
											</div>
										</div>
										<div class="pagination-next" [class.disabled]="p.isLastPage()">
										  <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>
										</div>
									</div>
								 
								  </pagination-template>
							</div>
						</div>
					</div>
				</div>		
				<div class="col-lg-3 sidebar">
					<div class="sidebar-box bg-white p-4 ftco-animate">
						<h3 class="heading-sidebar">Customer Name</h3>
						<form action="#" class="search-form mb-3">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Write a name...">
							</div>
						</form>
						<h3 class="heading-sidebar">Customer Category</h3>
						<form action="#" class="search-form mb-3">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Write a category...">
							</div>
						</form>
						<h3 class="heading-sidebar">Customer Ubication</h3>
						<form action="#" class="search-form mb-3">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Write a ubication...">
							</div>
						</form>
						<form class="search-form mb-3">
							<div class="form-group" style="align-content: center;">
								<div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
									<a href="#" class="btn btn-primary py-2" style="background-color: #fd7e14; border: 1px solid #fd7e14;">Search customers</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>