@import '../../../assets/scss/bootstrap/bootstrap';
@import '../../../assets/scss/bootstrap/variables';

.ftco-footer {
	font-size: 16px;
	background: $white;
	padding: 6em 0;
	color: rgba(0,0,0,.5);
	.ftco-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.ftco-footer-widget {
		h2 {
			font-weight: normal;
			color: rgba(0,0,0,.7);
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 400;
		}
		ul{
			li{
				a{
					color: rgba(0,0,0,.4);
					span{
						color: rgba(0,0,0, .5);
					}
				}
			}
		}
		.btn-primary{
			background: $white !important;
			border: 2px solid $white !important;
			&:hover{
				background: $white;
				border: 2px solid $white !important;
			}
		}
	}
	p {
		color: rgba(0,0,0, .5);
	}
	a {
		color: rgba(0,0,0, .5);
		&:hover {
			color: $primary;
		}
	}
}


.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 40px;
			width: 40px;
			display: block;
			background: rgba(0,0,0,.05);
			border-radius: 50%;
			position: relative;
			color: $primary;
			span {
				position: absolute;
				font-size: 20px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: $primary !important;
			}
			&:hover {
				color: $white;
			}
		}
	}
}
.footer-small-nav {
	> li {
		display: inline-block;
		a {
			margin: 0 10px 10px 0;
			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}