<div class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');"
data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-12 ftco-animate text-center mb-5">
            <p class="breadcrumbs mb-0"><span class="mr-3"><a routerLink="" style="color: white;">Home <svg
                            class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z"
                                clip-rule="evenodd" />
                        </svg></a></span>
                <span class="mr-3"><a routerLink="/invoices" style="color: white;">Invoices <svg
                            class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z"
                                clip-rule="evenodd" /></svg></a></span>
            </p>
            <h1 class="mb-3 bread">Search invoices here</h1>
        </div>
    </div>
</div>
</div>