
	<div class="hero-wrap img" style="background-image: url(assets/images/bg_1.jpg);">
		<div class="overlay"></div>
			<div class="container">
				<div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-10 d-flex align-items-center ftco-animate" >
						<div class="text text-center pt-5 mt-md-5">
						<p class="mb-4" >Find information about Wide World Importers</p>
						<h1 class="mb-5" >The easiest way to get sales information</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="category-wrap">
						<div class="row no-gutters">
							<div class="col-md-3" (click)="replaceCustomers()" routerLink="/customers">
								<div class="top-category text-center no-border-left">
									<span class="icon flaticon-employees"></span>
									<h3><a (click)="replaceCustomers()" routerLink="/customers">Customers</a></h3>
								</div>
							</div>
							<div class="col-md-3" routerLink="/invoices">
								<div class="top-category text-center">
									<span class="icon flaticon-resume"></span>
									<h3><a routerLink="/invoices">Invoices</a></h3>
								</div>
							</div>
							<div class="col-md-3" routerLink="/suppliers">
								<div class="top-category text-center">
									<span class="icon flaticon-idea"></span>
									<h3><a routerLink="/suppliers">Suppliers</a></h3>
								</div>
							</div>
							<div class="col-md-3" routerLink="/statistics">
								<div class="top-category text-center">
									<span class="icon flaticon-accounting"></span>
									<h3><a routerLink="/statistics">Statistics</a></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>